:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  ---main-blue-color: #2196f3;
  --button-hover: #188ce8;
  --background-color-site: #f5f5f5;
  --background-color-two: #f5f4fa;
  --background-color-footer: #2f303a;
  --web-color: #000000;
  --links-color: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

li {
  list-style-type: none;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
/*Header*/

.logo {
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
  color: var(---main-blue-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.studio-black {
  color: var(--web-color);
}
.nav-a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms var(--cubic);
  color: var(--primary-text-color);
}

.nav-a:hover,
.nav-a:focus {
  color: var(---main-blue-color);
}

.communications-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  fill: currentColor;
  display: flex;
  align-items: center;
  transition: color 250ms var(--cubic);
}
.communications-mail:hover,
.communications-mail:focus {
  color: var(---main-blue-color);
}
/*Hero*/
.hero-head {
  color: var(--white-text-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
}
.hero-button {
  margin-top: 30px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(---main-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  transition: background-color 250ms var(--cubic);
}
.hero-button:focus,
.hero-button:hover {
  background-color: var(--button-hover);
}
.hero {
  background-color: var(--background-color-footer);
  padding: 200px 0;
}

/*Principles*/
.principles {
  padding: 94px 0;
}
.principles-list-head {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.principles-list-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/*Чем мы занимаеимся*/
.occupation,
.team-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/*Team*/
.team-our-list {
  background: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  background: var(--background-color-two);
  padding: 94px 0;
}
.team-our-list-human {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.companies {
  padding: 94px 0;
}
.team-our-list-type {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*Footer*/
.footer {
  background: var(--background-color-footer);
  padding: 60px 0;
}
.studio-white {
  color: var(--white-text-color);
}
.footer-address,
.footer-street {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--cubic);
}
.footer-street {
  color: var(--white-text-color);
  font-style: normal;
}
.footer-street:hover,
.footer-street:focus {
  color: var(---main-blue-color);
}
.footer-address {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-address:hover,
.footer-address:focus {
  color: var(---main-blue-color);
}

/*Portfolio page*/

/*button*/

.menu-section {
  border: none;
  background: var(--background-color-two);
  border-radius: 4px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms var(--cubic), box-shadow 250ms var(--cubic),
    color 250ms var(--cubic);
}
.menu-section:hover,
.menu-section:focus {
  background-color: var(---main-blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-text-color);
}

.ref-works:hover .opacity-list,
.ref-works:focus .opacity-list {
  transform: translateY(0);
}
.text-overlay {
  padding: 63px 23px;
}
.opacity-list {
  position: absolute;
  content: "";
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;
  transform: translateY(294px);
  transition: transform 250ms var(--cubic);
  background-color: rgba(33, 150, 243, 0.9);
}
.opacity-list {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transform: translateY(294px);
  transition: transform 250ms var(--cubic);
}

.pictures-list-head {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.ref-works {
  overflow: hidden;
  position: relative;
  display: block;
  color: currentColor;
  transition: box-shadow 250ms var(--cubic);
}
.ref-works:hover,
.ref-works:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.spictures-list-paragraph {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  font-size: 16px;
}
.pictures-list-div {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.pictures-list:hover .img-thumb::before {
  transform: translateY(0);
}

.img-thumb:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;
  transform: translateY(294px);
  transition: transform 250ms var(--cubic);
  background-color: rgba(33, 150, 243, 0.9);
}
.img-thumb {
  position: relative;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*container*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.nav,
.nav-list,
.address,
.header.container {
  display: flex;
  align-items: center;
}

.hero .container {
  text-align: center;
}

.nav-a {
  position: relative;
  display: block;
  padding-bottom: 33px;
  padding-top: 33px;
}

.nav-a::after {
  position: absolute;
  content: "";
  background-color: var(---main-blue-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  transition: transform 250ms var(--cubic);
  transform: scaleX(0);
}

.nav-a:hover::after {
  transform: scaleX(1);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.communications:not(:last-child) {
  margin-right: 30px;
}

.address {
  margin-left: auto;
}
.table-list {
  display: flex;
}

.principles-list:not(:last-child) {
  margin-right: 30px;
  width: 270px;
}
.neon {
  padding-bottom: 94px;
}
.ul-occupation {
  display: flex;
}
.image:not(:last-child) {
  margin-right: 30px;
}
.occupation {
  margin-bottom: 50px;
  margin-top: 0;
}
.our-team {
  display: flex;
}
.team-our-list:not(:last-child) {
  margin-right: 30px;
}

.footer-street-one,
.footer-street-two {
  margin-bottom: 9px;
}

.nav-a.studio.current {
  color: var(---main-blue-color);
}
.nav-a.studio.current::after {
  position: absolute;
  content: "";
  background-color: var(---main-blue-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  transition: transform 250ms var(--cubic);
  transform: scaleX(1);
}

.nav-a.portfolio.current {
  color: var(---main-blue-color);
}
.logo-footer {
  margin-bottom: 20px;
}
.list-menu {
  justify-content: center;
  display: flex;
}
.list-section:not(:last-child) {
  margin-right: 8px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.pictures-list {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.pictures-list:nth-child(3n) {
  margin-right: 0;
}

.team-our-list-human {
  margin-bottom: 10px;
}
.container-team {
  padding-top: 30px;
  padding-bottom: 30px;
}
.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.header {
  border-bottom: 1px solid #ececec;
}
.menu {
  padding: 94px 0;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.overlay {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.border-grey {
  border-radius: 4px;
  background-color: var(--background-color-two);
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.icon-instagram,
.icon-twitter,
.icon-facebook,
.icon-linkedin {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  color: var(--links-color);
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic);
}
.social-network {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.enter.mail {
  margin-bottom: 20px;
}
.link.end {
  margin-right: 0px;
}
.link:hover,
.link:focus {
  background-color: var(---main-blue-color);
  color: var(--white-text-color);
}
.clients {
  display: flex;
  gap: 30px;
}

.clients-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--links-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: var(--links-color);
  transition: fill 250ms var(--cubic), border-color 250ms var(--cubic);
}

.clients-border:hover,
.clients-border:focus {
  border-color: var(---main-blue-color);
  fill: var(---main-blue-color);
}
.permanent {
  text-align: center;
  margin-bottom: 50px;
}
.footer > .container {
  display: flex;
  align-items: baseline;
}
.join.network {
  margin-left: 70px;
}

.enter {
  color: var(--white-text-color);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.14;
}
.margin:not(:last-child) {
  margin-right: 10px;
}
.link.footer {
  background: rgba(255, 255, 255, 0.1);
  color: var(--white-text-color);
  padding: 0;
  transition: background-color 250ms var(--cubic);
}

.link.footer:hover,
.link.footer:focus {
  background-color: var(---main-blue-color);
}
.enter {
  text-transform: uppercase;
}
.image {
  position: relative;
}
.text-neon {
  display: flex;
  position: absolute;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-weight: 700;

  line-height: 1.14px;

  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--cubic);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.backdrop-button {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--white-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: fill 250ms var(--cubic);
}
.backdrop-button:hover,
.backdrop-button:focus {
  fill: var(---main-blue-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.box-mailing {
  margin-left: auto;
}
.mailing-list {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: var(--background-color-footer);
  outline: transparent;
  padding-left: 16px;
  color: var(--white-text-color);
}
.button-miling {
  background-color: var(---main-blue-color);
  border-radius: 4px;
  border-color: transparent;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  cursor: pointer;
}
.mail-flex {
  display: flex;
}
.icon-plane {
  margin-left: 10px;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.label-field {
  padding-bottom: 4px;
  color: var(--secondary-text-color);
}
.field-name-svg {
  position: absolute;
  top: 32px;
  left: 12px;
  fill: var(--web-color);
}
.field-name-svg:hover {
  fill: var(---main-blue-color);
}
.conditions-input {
  position: relative;
  margin-top: 20px;
  color: var(--secondary-text-color);
}
.conditions-field {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.agreement {
  color: var(---main-blue-color);
  text-decoration: underline;
}
.button-field {
  display: block;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background: var(---main-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  color: var(--white-text-color);
  width: 200px;
  height: 50px;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 250ms var(--cubic);
}
.button-field:hover,
.button-field:focus {
  background-color: #188ce8;
}
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  resize: none;
  outline: transparent;
}

input:focus + .field-name-svg,
input:hover + .field-name-svg {
  fill: #188ce8;
}

input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.form-field input:focus,
.form-field input:hover {
  border-color: var(---main-blue-color);
}
.form-field.text {
  margin-bottom: 0;
}
textarea {
  padding-left: 10px;
  padding-top: 10px;
}
textarea:hover,
textarea:focus {
  border-color: var(---main-blue-color);
  cursor: pointer;
}
.form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  outline: transparent;
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.check-box {
  width: 16px;
  height: 15px;
  position: block;
  left: -25px;
  top: 4px;
  cursor: pointer;
  border: 2px solid var(--web-color);
  border-radius: 2px;
}
.checkbox:checked + .check-box {
  border: none;
  background-color: var(---main-blue-color);
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-size: cover;
  background-origin: content-box;
}
